<div class="container">
  <h1 class="main-title">Hello Revuze</h1>

  <app-spinner [kind]="selectedKind" [color]="selectedColor"></app-spinner>

  <div class="btn__wrapper">
    <div class="btn__colors">
      <button
        class="btn btn--color-red"
        (click)="this.onClickColor(colors.Purple)"
      >
        Purple
      </button>

      <button
        class="btn btn--color-green"
        (click)="this.onClickColor(colors.Green)"
      >
        Green
      </button>

      <button
        class="btn btn--color-blue"
        (click)="this.onClickColor(colors.Blue)"
      >
        Blue
      </button>
    </div>
    <div class="btn__kinds">
      <button class="btn btn--dots" (click)="this.onClickKind(kinds.Dots)">
        Dots
      </button>

      <button class="btn btn--fan" (click)="this.onClickKind(kinds.Fan)">
        Fan
      </button>

      <button class="btn btn--sync" (click)="this.onClickKind(kinds.Sync)">
        Sync
      </button>
    </div>
  </div>
</div>
